<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MeasurementDatabase" connectionString="Server=.\MSSQLSERVER01;Database=PlcDataCollector ;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Desharp:Enabled" value="1" />
    <add key="Desharp:Output" value="html" />
    <add key="Desharp:Levels" value="exception,debug,info,-notice,-warning,error,critical,alert,emergency" />
    <add key="Desharp:Directory" value="~/Logs" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>